# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
.envrc

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
